<div class="search-container" *ngIf="canSearch">
    <nz-input-group [nzPrefix]="prefixTemplateUser" class="custom-input"
        [style.visibility]="canSearch ? 'visible' : 'hidden'">
        <input id="searchInput" [(ngModel)]="keyword" type="text" nz-input [placeholder]="textPlaceholder" #inputSearch appTrim preventSpecialCharacter/>
    </nz-input-group>
    <ng-template #prefixTemplateUser>
        <img src="../../../assets/images/icon-search.png" style="height: 15px;" />
    </ng-template>

    <div class="button-custom" [style.display]="canCreate ? 'flex' : 'none'">
        <button id="createBtn" class="create" (click)="onCreate()" >
            <img src="../../../assets/images/icon-create.png" style="height: 10px;" />
            Thêm mới</button>
    </div>
</div>

<div class="filter-container" *ngIf="canFilter">
    <ng-content select="[filter]"></ng-content>
</div>

<div class="filter-container" *ngIf="canImport">
    <ng-content select="[import]"></ng-content>
</div>

<div class="filter-container" *ngIf="warning">
    <ng-content select="[warning]"></ng-content>
</div>

<ng-container >
    <div *ngIf="setOfCheckedId.size > 0 && isDisplayDeleteButton" class="mb-3">
        <button style="border-radius: 5px" nz-button nzType="primary" nzDanger (click)="onDeleteSelected()">Xóa
            {{setOfCheckedId.size}} bản ghi đã chọn</button>
    </div>
</ng-container>


<nz-table *ngIf="listOfData.length > 0"  #dynamicTable [nzScroll]="{ x: scrollX, y: scrollY }" [nzData]="listOfData" [nzBordered]="bordered"
    [nzLoading]="isLoading" [nzShowPagination]="false" [nzShowSizeChanger]="false" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    [nzSize]="gridSize" class="custom-row-header" (nzQueryParams)="onQueryParamsChange($event)" [nzTotal]="totalPage"
    [nzPageSize]="pageSize" >
    <thead>
        <tr class="custom-row-header">
            <th *ngIf="canSelect" nzWidth="60px" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)" class="header-table-custom"></th>
            <th *ngFor="let col of columns" class="header-table-custom" [align]="col.align" [nzColumnKey]="col.key" 
                [nzSortFn]="true" [nzFilters]="col.filterCol" [nzFilterFn]="col.canFilter"> 
                <span *ngIf="!col.headerTemplate">{{col.key | capitalizeText}}</span>
                <ng-container *ngIf="col.headerTemplate" [ngTemplateOutlet]="col.headerTemplate"
                    [ngTemplateOutletContext]="{$implicit: col}">
                </ng-container>
            </th>
            <ng-container>
                <th *ngIf="(canEdit || canDelete)&&canAction" [nzRight]="fixedColumn" nzWidth="100px" nzAlign="center"
                    class="header-table-custom">Hành động</th>
            </ng-container>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of dynamicTable.data">
            <tr class="custom-font" >
                <td *ngIf="canSelect" [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                <td (click)="onRowClick(data)" *ngFor="let col of columns" [align]="col.align" class="cursor-pointer" [style.maxWidth]="col.maxWidth">
                    <span *ngIf="!col.cellTemplate">{{data[col.key]}}</span>
                    <ng-container *ngIf="col.cellTemplate" [ngTemplateOutlet]="col.cellTemplate"
                        [ngTemplateOutletContext]="{
                        data: data,
                        col: col
                        }"></ng-container>
                </td>
                <ng-container>
                    <td [nzRight]="fixedColumn" nzAlign="center" *ngIf="canEdit || canDelete">
                        <img src="../../../assets/images/icon-history.png" style="height: 18px; margin-right: 10px;"
                            *ngIf="showHistory" (click)="onShowHistory(data)" class="cursor-pointer" 
                            >
                        <img src="../../../assets/images/icon-edit.png" style="height: 18px; margin-right: 10px;"
                            *ngIf="canEdit" (click)="onEditRow(data)" class="cursor-pointer" 
                            >
                        <ng-container>
                            <img src="../../../assets/images/icon-delete.png" style="height: 18px;" *ngIf="canDelete"
                                (click)="onDeleteRow(data)" class="cursor-pointer" 
                                >
                        </ng-container>
                    </td>

                </ng-container>

            </tr>
        </ng-container>
    </tbody>
</nz-table>


<!-- test -->
<nz-table *ngIf="listOfData.length == 0"  #dynamicTable [nzScroll]="{ x: scrollX, y: scrollY }" [nzData]="listOfData" [nzBordered]="bordered"
    [nzLoading]="isLoading" [nzShowPagination]="false" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    [nzSize]="gridSize" class="custom-row-header" (nzQueryParams)="onQueryParamsChange($event)" [nzTotal]="totalPage"
    [nzPageSize]="pageSize" >
    <thead>
        <tr class="custom-row-header">
            <th *ngIf="canSelect" nzWidth="60px" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)" class="header-table-custom"></th>
            <th *ngFor="let col of columns" class="header-table-custom" [align]="col.align" [nzColumnKey]="col.key" [style.maxWidth]="col.maxWidth"
                [nzSortFn]="true" [nzFilters]="col.filterCol" [nzFilterFn]="col.canFilter">
                <span *ngIf="!col.headerTemplate">{{col.key | capitalizeText}}</span>
                <ng-container *ngIf="col.headerTemplate" [ngTemplateOutlet]="col.headerTemplate"
                    [ngTemplateOutletContext]="{$implicit: col}">
                </ng-container>
            </th>
            <ng-container>
                <th *ngIf="canEdit || canDelete" [nzRight]="fixedColumn" nzWidth="100px" nzAlign="center"
                    class="header-table-custom">Hành động</th>
            </ng-container>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td [attr.colspan]="columns.length + 2" style="text-align: center; color: #8C8C8C;">Không có dữ liệu</td>
        </tr>
    </tbody>
</nz-table>

<!-- test -->


<div class="mt-3" style="float: right;" *ngIf="canPaging">
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalPage" [nzPageSize]="pageSize" [nzShowSizeChanger]="false"
        (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
        [nzItemRender]="renderItemTemplate">
    </nz-pagination>

    <ng-template #renderItemTemplate let-type let-page="page">
        <ng-container [ngSwitch]="type">
            <a *ngSwitchCase="'page'">{{ page }}</a>
            <a *ngSwitchCase="'prev'" title=""><i nz-icon nzType="left" nzTheme="outline" [class.cursor-nodrop]="pageIndex == 1"
                    class="icon-paging-custom" ></i></a>
            <a *ngSwitchCase="'next'"><i nz-icon nzType="right" nzTheme="outline"
                    [class.cursor-nodrop]="pageIndex == (totalPage/10)" class="icon-paging-custom"  ></i></a>
            <a *ngSwitchCase="'prev_5'"><i nz-icon nzType="double-left" nzTheme="outline"
                    class="icon-paging-custom" ></i></a>
            <a *ngSwitchCase="'next_5'"><i nz-icon nzType="double-right" nzTheme="outline"
                    class="icon-paging-custom"></i></a>
        </ng-container>
    </ng-template>
</div>