.button-custom {
    width: 100%;
    height: 40px;

    .btn-ok {
      background-color: #1da740;
      border: none;
      outline: none;
      color: white;
      height: 30px;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: 10px;
    }
    
    .btn-update {
      background-color: #34a5da;
      border: none;
      outline: none;
      color: white;
      height: 30px;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: 10px;
  }
    .btn-end {
      background-color: #df5858;
      border: none;
      outline: none;
      color: white;
      height: 30px;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: 10px;
  }
}

.header {
  color: rgb(19, 124, 9);
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
}

$primary: #11998e;
$secondary: #38ef7d;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 15px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 15px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 10px;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}

body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  background-color:#222222;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1da740;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1da740;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//
.select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
  color: #111;
  border-radius: 10px;
}

.select-op {
  border-radius: 10px;
}

.label-op {
  color: gray;
}