.okClass {
    background-color: #1da740;
    border: none;
    outline: none;
    color: white;
    height: 30px;
    border-radius: 5px;
}

.cancelClass {
    background-color: white;
    border: none;
    outline: none;
    height: 30px;
}